<header class="bg-black sm:px-20 px-2 sm:block">
    <div class="flex justify-between items-center h-[100px]">
       <div class="sm:w-[20%]">
           <h2 class="text-[35px] font-[700] text-red-400"><a href=""><img src="https://res.cloudinary.com/dvzfuapyy/image/upload/c_pad,w_150,h_100/v1728478636/Asset_2_4x_pngaii.png" alt=""></h2>
       </div>
       <div class="sm:w-[60%] text-center">
           <ul class="flex gap-10">
               <li class="text-white"><a href="/" class="sm:block hidden">Home</a></li>
               <li class="text-white"><a href="" class="sm:block hidden">About</a></li>
               <li class="text-white"><a href="/services">Services</a></li>
           </ul>
       </div>
       <div class="sm:w-[20%] text-right">
           <ul>
               <li class="text-white">
                 <% if (user) { %> <!-- Corrected the syntax -->
                   <a href="/logout" class="text-white px-4 rounded-[10px] mb-0">Logout</a>
                 <% } else { %>
                   <a href="/login" class="text-white px-4 rounded-[10px] mb-0">Login</a>
                 <% } %> <!-- Ensure consistent EJS tag usage -->
               </li>
             </ul>
             
       </div>
    </div>
</header>