<header class="bg-black px-20">
    <div class="flex justify-between items-center h-[100px]">
       <div class="w-[20%]">
           <h2 class="text-[35px] font-[700] text-red-400"><a href=""><img src="https://res.cloudinary.com/dvzfuapyy/image/upload/c_pad,w_150,h_100/v1728478636/Asset_2_4x_pngaii.png" alt=""></h2>
       </div>
       <div class="w-[60%] text-center">
           <ul class="flex gap-10">
               <li class="text-white"><a href="/">Home</a></li>
               <li class="text-white"><a href="">About</a></li>
               <li class="text-white"><a href="/services">Services</a></li>
           </ul>
       </div>
       <div class="w-[20%] text-right">
           <ul>
               <li class="text-white">
                 <% if (user) { %> <!-- Corrected the syntax -->
                   <a href="/logout" class="text-white border-[1px] border-orange-400 p-2 px-4 rounded-[10px] mb-0">Logout</a>
                 <% } else { %>
                   <a href="/login" class="text-white border-[1px] border-orange-400 p-2 px-4 rounded-[10px] mb-0">Login</a>
                 <% } %> <!-- Ensure consistent EJS tag usage -->
               </li>
             </ul>
             
       </div>
    </div>
</header>