<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adisco | Home</title>
    <%- include('includes/head') %>
</head>
<body>
    <div>
        <%- include('includes/header') %>
        <div class="main">
            <section>
                <div>
                    <div>
                         <img src="https://res.cloudinary.com/dvzfuapyy/image/upload/v1728465438/w2hjwu2ka1v6fteksgox.jpg" class="w-[100%] h-[400px] object" style="object-position: inherit;object-fit: cover;" alt="">
                    </div>
                </div>
            </section>
            
            <section class="w-[1150px] mt-10 mx-auto mb-10">
                <div class="flex gap-5">
                    <div class="w-[30%]">
                        <div>
                            <img src="https://res.cloudinary.com/dvzfuapyy/image/upload/v1728465918/pic1_wg78nc.jpg" alt="">
                        </div>
                        <div class="text-center mt-3">
                            <span class="text-[25px] font-[600]" style="font-family: cursive;">Lovely</span>
                            <h2 class="text-[35px] font-[700]">Haircuts</h2>
                            <p class="mt-2 text-[16px]">Our make-up artists will make your appearance memorable and bright, and take care of your skin's</p>
                        </div>
                        <div class="mt-10 text-center">
                             <a href="" class="bg-black text-white rounded-[5px] p-3 px-10">Get Service</a>
                        </div>
                    </div>
                    <div class="w-[40%]">
                        <div>
                            <img src="https://res.cloudinary.com/dvzfuapyy/image/upload/v1728466233/pic2_nbedi6.jpg" alt="">
                        </div>
                    </div>
                    <div class="w-[30%]">
                        <div>
                            <img src="https://res.cloudinary.com/dvzfuapyy/image/upload/v1728465911/pic3_fgfyew.jpg" alt="">
                        </div>
                        <div class="text-center mt-3">
                            <span class="text-[25px] font-[600]" style="font-family: cursive;">Lovely</span>
                            <h2 class="text-[35px] font-[700]">Haircuts</h2>
                            <p class="mt-2 text-[16px]">Our make-up artists will make your appearance memorable and bright, and take care of your skin's</p>
                        </div>
                        <div class="mt-10 text-center">
                             <a href="" class="bg-black text-white rounded-[5px] p-3 px-10">Get Service</a>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</body>
</html>