<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adisco | Thankyou</title>
    <%- include('includes/head') %>
</head>
<body>
    <div class="mt-20">
        <div class="text-center">
            <h2 class="text-[75px] font-[800] text-red-500">Thank <span class="text-orange-400">You</span></h2>
            <p class="text-[20px]">Thanks for order</p>
           <div class="mt-10">
             <a href="/" class="mt-4 bg-orange-500 p-3 text-[17px] font-[600] px-5 border-[10px] rounded-[10px] text-white">Back to Home</a>
           </div>
        </div>
    </div>
</body>
</html>